In [1]:
l = [1,2,3,4,"*" ,"kumar" , 45.56]

In [2]:
for i in l :
    print(i)

1
2
3
4
sudh
kumar
45.56

In [3]:
for i in l :
    pass

In [4]:
s = "*"
for i in s :
    print(i)

s
u
d
h

In [5]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else ")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itself the it will execute else

In [6]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.56]

In [7]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3

In [8]:
s = "*anshu"
for i in s :
    if i == 'z' :
        break
    print(i)
else :
    print("print srtring " , s )

s
u
d
h
a
n
s
h
u
print srtring  sudhanshu

In [9]:
t = (4,5,6,7,8,6,"*")
for i in t :
    print(i)

4
5
6
7
8
6
sudh

In [10]:
b = {4,5,6,7,7,7,7,7,7,7,7, 8,"*"}

In [11]:
type(b)

set

In [12]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [13]:
for i in b :
    print(i)

4
5
6
7
8
sudh

In [67]:
d = {'key1' :"*" , 'contact' : "*anshu@ineuron.ai" , "position" : "xyz"}

In [71]:
for i in d :
    print(i ,":" ,  d[i] )

key1 : sudh
contact : sudhanshu@ineuron.ai
position : xyz

In [16]:
d['key1']

'sudh'

In [17]:
range(9)

range(0, 9)

In [66]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [65]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [72]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [74]:
list(range(0,9 , 2))

[0, 2, 4, 6, 8]

In [22]:
list(range(0,9 , -1))

[]

In [23]:
list(range(9,0 , -1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [23]:
n = 4 
for i in range(n) :
    for j in range(0 ,i+1) : 
        print("*" , end = "  ")
    print(" ")

*
*  *
*  *  *
*  *  *  *

In [8]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print(" " * len("*"),end=" ")
    for j in range(i+1):
        print("*",end=" ")
    for j in range(i): 
        print("*",end=" ")
    print()

    *
  * * *
* * * * *

In [7]:
n=4
k=n
for i in range(n):
    k=k-1
    print('  '*k, end='')
    for j in range(i+1):
        print('* ', end= '')
    print()

      *
    * *
  * * *
* * * *

In [34]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print("",end=' ')
    for j in range(i+1):
        print("*",end=' ')
    print()

  *
 * *
* * *

In [32]:
n = 3

for i in range(n+1):
    print(' '*(n-i) + '* '*i)

  *
 * *
* * *

In [29]:
list(range(0))

[]

In [30]:
t = (3,23,45,67,2,4,5,6)

In [31]:
t[0]

3

In [32]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [33]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [34]:
t = (3,23,45,67,2,4,5,6)

for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [35]:
s = "ineuron"
for i in range(len(s)) :
    print(i , s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [36]:
s

'ineuron'

In [37]:
for i in range(len(s)-1 , -1, -1):
    print(i , s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [38]:
d

{'key1': 'sudh', 'contact': 'sudhanshu@ineuron.ai', 'position': 'xyz'}

In [39]:
for i in d.items():
    print(i , type(i) , type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [35]:
l = ["*" , "kuamr" , 3234545 , "*anshu@ineuron.ai" , 345, 34345353]
l1 = []
for i in l :
    if type(i) == int :
        l1.append(i)

In [41]:
l1

[3234545, 345, 34345353]

In [40]:
 d = {1: 3345345  , "name" : "*" , "email_id" : "*anshu@ineuron.ai" , 234 : "fsfddsf" , "43" : "sfsaf" , 234 : "3454"}

In [41]:
for i in d :
    if type(i) == int :
        print(i , ":"  , d[i])

1 : 3345345
234 : 3454

In [42]:
s = "aaaabbccd"

In [45]:
for i in set(s):
    print(i  , ":" , s.count(i))

c : 2
d : 1
b : 2
a : 4

In [43]:
s.count('a')

4

In [44]:
i = 34534654646435
for j in str(i) :
    print(int(j ), type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [45]:
str(i)

'34534654646435'

In [46]:
t = ("*" , "kumar" ,[1,2,3,4,5] , (3,4,5,6) , {3:3 , "key2" :"kumar"})

In [47]:
t=("*","kumar",[1,3,5,7,4],(3,5,88,4),{3:3,3:"kjshdf","key1":"*","key2":"kumar"})

In [48]:
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        for k,v  in i.items():
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
kjshdf

In [49]:
d = {4:5 , "key1" : "*" , "key2" : "kumar"}

In [51]:
d.items()

dict_items([(4, 5), ('key1', '*'), ('key2', 'kumar')])

In [52]:
for i in d.items():
    print(i)

(4, 5)
('key1', '*')
('key2', 'kumar')

In [53]:
d.items()

dict_items([(4, 5), ('key1', '*'), ('key2', 'kumar')])

In [56]:
a = 10 
b = 20
c = 30

In [57]:
a , b , c = 10 , 20 , 30

In [58]:
a,b,c = (10,20,30)

In [60]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"*" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
*anshu@ineuron.ai
shivan@ineuron.ai

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 10)

In [ ]:
d= {'key1' :"*" , (3,4,5,65) : "fdsfdsd" , [3,4,5,6] :"345"}

In [ ]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if k == 3 or v == 3:
                print(k)
                print(v)

In [ ]:
d1 = {}
d1['a'] == None

In [ ]:
s="aaaabbccd"
d1={}

for i in s:
    if d1[i]==None :
        key=i
        d1={key:0}
    else:
        d1[i]=d1[i]+1
print(d1)

In [ ]:
s="aaaabbccd"
d = {}
for i in set(s) : 
    d[i] =  s.count(i)

In [ ]:
d

In [ ]:
l = list(range(6,-1,-1))
s = 'ineuron'
t = (l,s)

t

In [ ]:
print(t)
for i,j in t:
    print(i,j)

In [ ]:
d

In [ ]:
d.items()

In [ ]:
1.	i = j = [3]
              i += j
              print(i,j)


2.	set = {"python", "coding", "tips", "for", "beginners"}
               print(set)
              ''.join(set)
3.	tuple = ("python", "coding", "tips", "for", "beginners")
               print(tuple)
              ''.join(tuple)
4.	print(dict(("py", "th", "on")))
5.	x, y = (0,1) if True else None, None
print(x)
6.	i = j = [3]
i += j
print(i,j)

In [ ]:
i = j = [3]
i = [3] + [3]
print(i,j)

In [ ]:
set = {"python", "coding", "tips", "for", "beginners"}
print(set)
' '.join(set)

In [ ]:
tuple = ("python", "coding", "tips", "for", "beginners")
print(tuple)
' '.join(tuple)

In [ ]:
print(dict(("py", "th", "on")))

In [ ]:
x, y = (0,1) if True else None , None
print(x)

In [ ]:
i = j = [3]
i += j
print(i,j)

In [ ]:
n=5
for i in range(n-1):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(n):    
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print("*",end=" ")
    for j in range(i,n):
        print("*",end=" ")
    print()

In [ ]:
s = {1,1,1,11,1,1,4,4,4,4}

In [ ]:
f = frozenset((1,2,2,3,34,4,4,4,4))

In [ ]:
s.add(3)

In [ ]:
for i in range(4) :
    for j in range (0 , i+1) :
        print("*" , end = "*")
    print()

In [ ]:
l= [(3,4,5,6) , [2,4,5,5,6] , {'k1' : 'v1' , 'k2' :'v2'}]
l1 = []

In [ ]:
for i in l :
    if type(i) == list or type( i )== tuple :
        for j in i :
            l1.append(j)
    if type(i) == dict :
        for k in i.items():
            for m in k :
                l1.append(m)

In [ ]:
l1

In [ ]:
5%2

In [ ]:
t = ("*" , "kumar" , [1,2,3,4,5] , (3,4,5,6) , {3:3 , "key2":"kumar"})
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict : 
        for k,v  in i.items():
            if k == 3 or v == 3 :
                    print(k)
                    print(v)

In [ ]:
a = "*"

if "3" in a:
    print("yes")
else:
    print("No")

In [ ]:
a = "*"

if 3 in a:
    print("yes")
else:
    print("No")



b = ["*","kumar","vyas"]

if 3 in b:
    print("yes")
else:
    print("No")

In [ ]:
n = 4
for i in range(4) :
    for j in range(0,i+1) :
        print("*" , end =" ")
    print("\n")

In [ ]:
n=3
for i in range (n):
    for j in range(i,n-1):
        print("" *len("*"),end= " ")
    for j in range (i+1):
        print("*",end=" " )
    for j in range(i):
        print("*",end= " ")
    print()

In [ ]:
for i in t :
    if type(i) == list or type (i) == tuple :
        for j in i :
            if j ==3 :
                print(j)
    if type(i) ==dict :
            for k,v in i . items():
                if k == 3 or v == 3:
                    print(k)   
                    print(v)

In [ ]:
b = input()