FOR LOOP

In [2]:
l=[1,2,3,4,6,8,"swap", 234.25]

In [3]:
for i in l:
    print(i)

1
2
3
4
6
8
swap
234.25

In [4]:
for i in l:
    print(i+1)

2
3
4
5
7
9

TypeError: can only concatenate str (not "int") to str

In [5]:
for i in l:
    if type(i)==int:
        print(i+1)
    elif type(i)==str:
        print(i+str(1))

2
3
4
5
7
9
swap1

In [6]:
for i in l:
    if type(i)==int or type(i)==float:
        print(i+1)
    elif type(i)==str:
        print(i+str(1))

2
3
4
5
7
9
swap1
235.25

In [7]:
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)

In [8]:
l1

[1, 2, 3, 4, 6, 8]

In [9]:
s="swapnil"
for i in s:
    print(i)

s
w
a
p
n
i
l

In [10]:
l

[1, 2, 3, 4, 6, 8, 'swap', 234.25]

In [11]:
l=[1,2,3,4,6,8,"swap", 234.25]
for i in l:
    print(i)
else:
    print("if for loop is going to complete itself then it will execute itself ")

1
2
3
4
6
8
swap
234.25
if for loop is going to complete itself then it will execute itself

In [12]:
l=[1,2,3,4,6,8,"swap", 234.25]
for i in l:
    if i==4:
        break
    print(i)
else:
    print("this will exceute only if for is going to complete itself")

1
2
3

In [13]:
s="swapnil"
for i in s:
    if i=='n':
        break
    print(i)
else:
    print("print string ",s )

s
w
a
p

In [14]:
t=(4,5,6,7,8,"swap")
for i in t:
    print(i)

4
5
6
7
8
swap

In [15]:
s={4,5,6,45,857,4,4,4,4,4,}

In [16]:
s

{4, 5, 6, 45, 857}

In [17]:
for i in s:
    print(i)

4
5
6
857
45

<h3> Dict
</h3>

In [18]:
d={"key1":"sudh","contact":92848,"address":"Pune" }

In [19]:
for i in d:
    print(i)

key1
contact
address

In [20]:
for i in d:
    print (d[i])

sudh
92848
Pune

In [21]:
for i in d:
    print (i,(d[i]))

key1 sudh
contact 92848
address Pune

In [22]:
for i in d:
    print (i, " ",(d[i]))

key1   sudh
contact   92848
address   Pune

In [23]:
range(9)

range(0, 9)

In [43]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [44]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [45]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [46]:
list(range(0,9,-1))

[]

In [25]:
n=4
for i in range(4):
    for j in range(0, i+1):
        print("swap", end=" ")
    print("\n")

swap

swap swap

swap swap swap

swap swap swap swap

In [55]:
t=(3,23,45,67,2,4,5,6)
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [56]:
t[0]

3

In [58]:
t=(3,23,45,67,2,4,5,6)

for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [59]:
s="ineuron"
for i in range(len(s)):
    print(i, s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [60]:
s="ineuron"
for i in range(len(s)):
    print(s[i])

i
n
e
u
r
o
n

In [62]:
s="ineuron"
for i in range(len(s)):
    print(-i,s[-i])

0 i
-1 n
-2 o
-3 r
-4 u
-5 e
-6 n

In [63]:
range(len(s))

range(0, 7)

In [67]:
list(range(len(s),0))

[]

In [72]:
list(range(len(s),0,-1))

[7, 6, 5, 4, 3, 2, 1]

In [73]:
list(range(len(s),-1,-1))

[7, 6, 5, 4, 3, 2, 1, 0]

In [74]:
list(range(len(s)-1,-1,-1))

[6, 5, 4, 3, 2, 1, 0]

In [81]:
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [82]:
d

{'key1': 'sudh', 'contact': 92848, 'address': 'Pune'}

In [83]:
d.items()

dict_items([('key1', 'sudh'), ('contact', 92848), ('address', 'Pune')])

In [85]:
for i in d.items():
    print(i, type(i))

('key1', 'sudh') <class 'tuple'>
('contact', 92848) <class 'tuple'>
('address', 'Pune') <class 'tuple'>

In [89]:
for i in d.items():
    print(i, type(i), type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 92848) <class 'tuple'> <class 'int'>
('address', 'Pune') <class 'tuple'> <class 'str'>

In [100]:
l=["swap", "kumar",323145,"abc@gmail.com", 345, 784.51]

In [101]:
l

['swap', 'kumar', 323145, 'abc@gmail.com', 345, 784.51]

In [102]:
l=["swap", "kumar",323145,"abc@gmail.com", 345, 784.51]
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)

In [103]:
l1

[323145, 345]

In [107]:
d1={1:33445678,"name":"sudh", "email_id":"swap@gmail.com",234:"Pune", "43":"Mumbai",234:"458660"}

In [111]:
for i in d1:
    if type(i)==int:
        print(i," ", d1[i])

1   33445678
234   458660

In [112]:
s="aaaabbccd"

In [113]:
set(s)

{'a', 'b', 'c', 'd'}

In [114]:
for i in set(s):
    print(i, " ", s.count(i))

a   4
b   2
c   2
d   1

In [117]:
i=345661233341222
for j in str(i):
    print(j,type(i),type(j))

3 <class 'int'> <class 'str'>
4 <class 'int'> <class 'str'>
5 <class 'int'> <class 'str'>
6 <class 'int'> <class 'str'>
6 <class 'int'> <class 'str'>
1 <class 'int'> <class 'str'>
2 <class 'int'> <class 'str'>
3 <class 'int'> <class 'str'>
3 <class 'int'> <class 'str'>
3 <class 'int'> <class 'str'>
4 <class 'int'> <class 'str'>
1 <class 'int'> <class 'str'>
2 <class 'int'> <class 'str'>
2 <class 'int'> <class 'str'>
2 <class 'int'> <class 'str'>

In [118]:
i=345661233341222
for j in str(i):
    print(j,type(i),type(int(j)))

3 <class 'int'> <class 'int'>
4 <class 'int'> <class 'int'>
5 <class 'int'> <class 'int'>
6 <class 'int'> <class 'int'>
6 <class 'int'> <class 'int'>
1 <class 'int'> <class 'int'>
2 <class 'int'> <class 'int'>
3 <class 'int'> <class 'int'>
3 <class 'int'> <class 'int'>
3 <class 'int'> <class 'int'>
4 <class 'int'> <class 'int'>
1 <class 'int'> <class 'int'>
2 <class 'int'> <class 'int'>
2 <class 'int'> <class 'int'>
2 <class 'int'> <class 'int'>

In [123]:
t=("swap","kumar",[1,2,3,4,5],(3,4,5,6),{"key1":"swap","key2":"Gosavi"}) #extract 3

In [124]:
t

('swap',
 'kumar',
 [1, 2, 3, 4, 5],
 (3, 4, 5, 6),
 {'key1': 'swap', 'key2': 'Gosavi'})

In [132]:
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i :
            if j==3:
                print(j)

3
3

In [149]:
t1=("swap","kumar",[1,2,3,4,5],(3,4,5,6),{3:3,"key2":"Gosavi"})

In [150]:
t1

('swap', 'kumar', [1, 2, 3, 4, 5], (3, 4, 5, 6), {3: 3, 'key2': 'Gosavi'})

In [152]:
for i in t1:
    if type(i)==list or type(i)==tuple or type(i)==dict:
        for j in i :
            if j==3:
                print(j)

3
3
3

In [155]:
for i in t1:
    if type(i)==list or type(i)==tuple:
        for j in i :
            if j==3:
                print(j)
    if type(i)==dict:
        for k, v in i.items():
            if k==3 or v== 3:
                print(k)
                print(v)

3
3
3
3