In [150]:
#iterator

In [12]:
l=[1,2,3,4,5]

In [13]:
l

[1, 2, 3, 4, 5]

In [14]:
for i in l:
    print(i)

1
2
3
4
5

In [15]:
next(l)

TypeError: 'list' object is not an iterator

In [22]:
b=iter(l)

In [23]:
next(b)

1

In [24]:

next(b)

2

In [25]:
next(b)

3

In [26]:
next(b)

4

In [27]:
next(b)

5

In [28]:
next(b)

StopIteration:

In [29]:

next(45)

TypeError: 'int' object is not an iterator

In [30]:
iter(45)

TypeError: 'int' object is not iterable

In [31]:
for i in 54444:
    print(i)

TypeError: 'int' object is not iterable

In [32]:
for i in l:
    print(i)

1
2
3
4
5

In [36]:
b=iter(l)

In [37]:
next(b)

1

In [38]:
next(b)

2

In [39]:
s="sudh"
next(s)

TypeError: 'str' object is not an iterator

In [40]:
s=iter(s)

In [41]:
next(s)

's'

In [42]:
next(s)

'u'

In [43]:
next(s)

'd'

In [44]:

next(s)

'h'

In [45]:

next(s)

StopIteration:

In [46]:
s="sudh"
for i in s:
    print(i)

s
u
d
h

In [47]:
t=(2,8,9,10)

In [48]:
next(t)

TypeError: 'tuple' object is not an iterator

In [55]:
t=iter(t)

In [50]:
next(t)

2

In [51]:
next(t)

8

In [52]:
next(t)

9

In [53]:
next(t)

10

In [54]:
next(t)

StopIteration:

In [151]:
#generator

In [56]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
def square_fun(n):
    x=[i*i for i in  range(n)]
    return x

In [58]:
square_fun(4)

[0, 1, 4, 9]

In [59]:
def square_fun1(n):
    x=[i*i for i in  range(n)]
    yield x

In [60]:
square_fun1(5)

In [61]:
for i in square_fun1(4):
    print(i)

[0, 1, 4, 9]

In [62]:
square_fun1(5)

In [63]:
def genfib(n):
    a=1
    b=1
    l=[]
    for i in range(n):
        l.append(a)
        a,b= b, a+b
    return l

In [64]:
genfib(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [65]:
def genfib1(n):
    a=1
    b=1
    for i in range(n):
        yield a
        a,b= b, a+b

In [66]:
genfib1(5)

In [67]:
for i in genfib1(10):
    print(i)

1
1
2
3
5
8
13
21
34
55

In [152]:
#file operation

In [69]:
f=open("swap.txt")

In [70]:
f=open("swap.txt","w" )

In [71]:
ls

 Volume in drive C is OS
 Volume Serial Number is FE0E-8CB5

 Directory of C:\Users\Swapnil\Ineuron Practice

18-06-2023  21:55    <DIR>          .
18-06-2023  15:11    <DIR>          ..
14-05-2023  00:51    <DIR>          .idea
18-06-2023  09:58    <DIR>          .ipynb_checkpoints
28-05-2023  20:15             5,215 API.ipynb
03-06-2023  19:43             6,389 APPLICATION PROGRAMMING INTERFACE TASK PENDING.ipynb
23-04-2023  13:05             7,460 Assignment 1.ipynb
23-04-2023  14:45             5,154 Assignment 2.ipynb
21-05-2023  19:49    <DIR>          CHEAT ASSIGNMENTS
30-04-2023  13:32            35,477 conditional statement - if , elif, else.ipynb
29-04-2023  15:37            13,459 DICT.ipynb
28-05-2023  18:00            44,178 EDA .ipynb
27-05-2023  19:56         3,543,320 EDA DATA VISUALIZATION .ipynb
28-05-2023  15:38         1,574,541 EDA- Part 1.ipynb
17-06-2023  22:15            17,208 Exception handling .ipynb
13-05-2023  03:58            88,515 fitbit.jason
13-05-2023  13:51            88,515 fitbit.json
30-04-2023  16:45            41,960 for loop practice.ipynb
01-05-2023  07:42            27,582 FOR LOOP.ipynb
13-05-2023  00:48            37,569 FSDS11thaug.pdf
27-05-2023  18:38         1,794,021 Graph .ipynb
18-06-2023  16:21                 0 HYDHJJD.txt
18-06-2023  21:55            18,781 ITERATOR, GENERATOR, MAP, REDUCE, FILTER, BASIC FILE OPERATION.ipynb
01-05-2023  08:04            83,390 List , tuples , dict , set .ipynb
01-05-2023  22:00             9,864 list task.ipynb
10-06-2023  12:22            30,683 LIST.ipynb
18-06-2023  20:11                 0 list.txt
13-05-2023  02:44               457 Mongodb with python.py
07-05-2023  22:28             8,514 mongodb.txt
13-05-2023  02:44             9,157 NO SQL MONGODB.py
21-05-2023  11:51           465,908 Numpy and basic of graph.ipynb
21-05-2023  14:10            47,787 NUMPY.ipynb
12-05-2023  21:05           423,949 pandas class 2.ipynb
21-05-2023  01:11           141,385 pandas class 3 - with task .ipynb
20-05-2023  14:11           913,519 PANDAS LIBRARY .ipynb
13-05-2023  20:38           121,522 PANDAS TASK CARS DATASET.ipynb
14-05-2023  04:59         3,099,061 PANDAS TASK CENSUS DATASET.ipynb
14-05-2023  00:38            59,409 PANDAS TASK COVID DATA SET.ipynb
22-05-2023  00:34            88,792 PANDAS TASK FITBIT DATASET .ipynb
14-05-2023  03:07            54,545 PANDAS TASK LONDON HOUSING DATA.ipynb
16-05-2023  10:54           212,847 PANDAS TASK NETFLIX DATASET.ipynb
13-05-2023  23:07            63,910 PANDAS TASK POLICE DATA SET.ipynb
20-05-2023  14:35           203,125 PANDAS TASK SUPERSTORE DATASET.ipynb
18-05-2023  11:04           312,682 PANDAS TASK SURVEY DATA SET.ipynb
14-05-2023  11:07           123,607 PANDAS TASK UDEMY DATASET.ipynb
13-05-2023  18:15           193,413 PANDAS TASK WEATHER DATA SET.ipynb
13-05-2023  00:33           913,494 Pandas.ipynb
19-05-2023  09:34           238,869 PANDAS_PIVOT TASK .ipynb
06-05-2023  18:29               444 p-s connectivity 1.py
06-05-2023  14:43               642 p-s connectivity 2.py
06-05-2023  14:43               296 p-s connectivity 3.py
06-05-2023  14:43                 2 p-s.py
21-05-2023  19:26            10,767 PYTHON BASIC ASSIGNMENT 1.ipynb
21-05-2023  20:32            14,259 PYTHON BASIC ASSIGNMENT 2.ipynb
27-05-2023  18:30            15,244 PYTHON BASIC ASSIGNMENT 3.ipynb
27-05-2023  18:30            17,628 PYTHON BASIC ASSIGNMENT 4.ipynb
27-05-2023  18:30            14,619 PYTHON BASIC ASSIGNMENT 5.ipynb
27-05-2023  18:30            19,103 PYTHON BASIC ASSIGNMENT 6.ipynb
18-06-2023  20:03    <DIR>          PYTHON BASIC ASSIGNMENTS
10-06-2023  15:54    <DIR>          PYTHON BASIC PROGRAMMING ASSIGNMENT
17-06-2023  15:49    <DIR>          PYTHON CLASS
13-05-2023  02:46               395 Python-sql connnection.py
03-06-2023  20:55           310,900 REVIEW SCRAPPER PENDING.ipynb
01-05-2023  22:03           113,561 Revision and task solving (1).ipynb
29-04-2023  16:08            12,521 SET.ipynb
07-05-2023  01:24             7,137 sql mongodb and git .txt
13-05-2023  02:42             5,625 SQL.sql
27-05-2023  16:49            13,396 STAR PATTERNS USING LOOP.ipynb
30-04-2023  00:52            19,406 STATEMENTS.ipynb
01-05-2023  08:05            86,596 string .ipynb
01-05-2023  09:43            13,840 String task.ipynb
29-04-2023  16:32            48,877 STRING.ipynb
18-06-2023  20:34               102 sunday.txt
20-05-2023  12:55         4,007,322 superstore.json
18-06-2023  21:57                 0 swap.txt
13-05-2023  02:45               444 table cration in python and visualization in sql .py
01-05-2023  22:04            23,946 Task 3.ipynb
11-05-2023  00:41            94,421 test.json
18-06-2023  20:24                 0 test.txt
29-04-2023  14:56            10,723 TUPLE.ipynb
21-05-2023  20:54    <DIR>          Untiled folder
14-06-2023  11:53                72 Untitled.ipynb
01-05-2023  07:53         3,648,199 WHILE LOOP.ipynb
01-05-2023  07:49         3,644,399 WHILE.ipynb
              75 File(s)     27,324,119 bytes
               9 Dir(s)  190,040,469,504 bytes free

In [72]:
f.write("this is my first file operation")

31

In [73]:
f.close()

In [74]:
ls

 Volume in drive C is OS
 Volume Serial Number is FE0E-8CB5

 Directory of C:\Users\Swapnil\Ineuron Practice

18-06-2023  21:55    <DIR>          .
18-06-2023  15:11    <DIR>          ..
14-05-2023  00:51    <DIR>          .idea
18-06-2023  09:58    <DIR>          .ipynb_checkpoints
28-05-2023  20:15             5,215 API.ipynb
03-06-2023  19:43             6,389 APPLICATION PROGRAMMING INTERFACE TASK PENDING.ipynb
23-04-2023  13:05             7,460 Assignment 1.ipynb
23-04-2023  14:45             5,154 Assignment 2.ipynb
21-05-2023  19:49    <DIR>          CHEAT ASSIGNMENTS
30-04-2023  13:32            35,477 conditional statement - if , elif, else.ipynb
29-04-2023  15:37            13,459 DICT.ipynb
28-05-2023  18:00            44,178 EDA .ipynb
27-05-2023  19:56         3,543,320 EDA DATA VISUALIZATION .ipynb
28-05-2023  15:38         1,574,541 EDA- Part 1.ipynb
17-06-2023  22:15            17,208 Exception handling .ipynb
13-05-2023  03:58            88,515 fitbit.jason
13-05-2023  13:51            88,515 fitbit.json
30-04-2023  16:45            41,960 for loop practice.ipynb
01-05-2023  07:42            27,582 FOR LOOP.ipynb
13-05-2023  00:48            37,569 FSDS11thaug.pdf
27-05-2023  18:38         1,794,021 Graph .ipynb
18-06-2023  16:21                 0 HYDHJJD.txt
18-06-2023  21:55            18,781 ITERATOR, GENERATOR, MAP, REDUCE, FILTER, BASIC FILE OPERATION.ipynb
01-05-2023  08:04            83,390 List , tuples , dict , set .ipynb
01-05-2023  22:00             9,864 list task.ipynb
10-06-2023  12:22            30,683 LIST.ipynb
18-06-2023  20:11                 0 list.txt
13-05-2023  02:44               457 Mongodb with python.py
07-05-2023  22:28             8,514 mongodb.txt
13-05-2023  02:44             9,157 NO SQL MONGODB.py
21-05-2023  11:51           465,908 Numpy and basic of graph.ipynb
21-05-2023  14:10            47,787 NUMPY.ipynb
12-05-2023  21:05           423,949 pandas class 2.ipynb
21-05-2023  01:11           141,385 pandas class 3 - with task .ipynb
20-05-2023  14:11           913,519 PANDAS LIBRARY .ipynb
13-05-2023  20:38           121,522 PANDAS TASK CARS DATASET.ipynb
14-05-2023  04:59         3,099,061 PANDAS TASK CENSUS DATASET.ipynb
14-05-2023  00:38            59,409 PANDAS TASK COVID DATA SET.ipynb
22-05-2023  00:34            88,792 PANDAS TASK FITBIT DATASET .ipynb
14-05-2023  03:07            54,545 PANDAS TASK LONDON HOUSING DATA.ipynb
16-05-2023  10:54           212,847 PANDAS TASK NETFLIX DATASET.ipynb
13-05-2023  23:07            63,910 PANDAS TASK POLICE DATA SET.ipynb
20-05-2023  14:35           203,125 PANDAS TASK SUPERSTORE DATASET.ipynb
18-05-2023  11:04           312,682 PANDAS TASK SURVEY DATA SET.ipynb
14-05-2023  11:07           123,607 PANDAS TASK UDEMY DATASET.ipynb
13-05-2023  18:15           193,413 PANDAS TASK WEATHER DATA SET.ipynb
13-05-2023  00:33           913,494 Pandas.ipynb
19-05-2023  09:34           238,869 PANDAS_PIVOT TASK .ipynb
06-05-2023  18:29               444 p-s connectivity 1.py
06-05-2023  14:43               642 p-s connectivity 2.py
06-05-2023  14:43               296 p-s connectivity 3.py
06-05-2023  14:43                 2 p-s.py
21-05-2023  19:26            10,767 PYTHON BASIC ASSIGNMENT 1.ipynb
21-05-2023  20:32            14,259 PYTHON BASIC ASSIGNMENT 2.ipynb
27-05-2023  18:30            15,244 PYTHON BASIC ASSIGNMENT 3.ipynb
27-05-2023  18:30            17,628 PYTHON BASIC ASSIGNMENT 4.ipynb
27-05-2023  18:30            14,619 PYTHON BASIC ASSIGNMENT 5.ipynb
27-05-2023  18:30            19,103 PYTHON BASIC ASSIGNMENT 6.ipynb
18-06-2023  20:03    <DIR>          PYTHON BASIC ASSIGNMENTS
10-06-2023  15:54    <DIR>          PYTHON BASIC PROGRAMMING ASSIGNMENT
17-06-2023  15:49    <DIR>          PYTHON CLASS
13-05-2023  02:46               395 Python-sql connnection.py
03-06-2023  20:55           310,900 REVIEW SCRAPPER PENDING.ipynb
01-05-2023  22:03           113,561 Revision and task solving (1).ipynb
29-04-2023  16:08            12,521 SET.ipynb
07-05-2023  01:24             7,137 sql mongodb and git .txt
13-05-2023  02:42             5,625 SQL.sql
27-05-2023  16:49            13,396 STAR PATTERNS USING LOOP.ipynb
30-04-2023  00:52            19,406 STATEMENTS.ipynb
01-05-2023  08:05            86,596 string .ipynb
01-05-2023  09:43            13,840 String task.ipynb
29-04-2023  16:32            48,877 STRING.ipynb
18-06-2023  20:34               102 sunday.txt
20-05-2023  12:55         4,007,322 superstore.json
18-06-2023  21:57                31 swap.txt
13-05-2023  02:45               444 table cration in python and visualization in sql .py
01-05-2023  22:04            23,946 Task 3.ipynb
11-05-2023  00:41            94,421 test.json
18-06-2023  20:24                 0 test.txt
29-04-2023  14:56            10,723 TUPLE.ipynb
21-05-2023  20:54    <DIR>          Untiled folder
14-06-2023  11:53                72 Untitled.ipynb
01-05-2023  07:53         3,648,199 WHILE LOOP.ipynb
01-05-2023  07:49         3,644,399 WHILE.ipynb
              75 File(s)     27,324,150 bytes
               9 Dir(s)  190,040,375,296 bytes free

In [75]:
f1=open("test.txt","w")

In [76]:
f1.write("this is my file ")

16

In [77]:
f1.close()

In [78]:
ls

 Volume in drive C is OS
 Volume Serial Number is FE0E-8CB5

 Directory of C:\Users\Swapnil\Ineuron Practice

18-06-2023  21:55    <DIR>          .
18-06-2023  15:11    <DIR>          ..
14-05-2023  00:51    <DIR>          .idea
18-06-2023  09:58    <DIR>          .ipynb_checkpoints
28-05-2023  20:15             5,215 API.ipynb
03-06-2023  19:43             6,389 APPLICATION PROGRAMMING INTERFACE TASK PENDING.ipynb
23-04-2023  13:05             7,460 Assignment 1.ipynb
23-04-2023  14:45             5,154 Assignment 2.ipynb
21-05-2023  19:49    <DIR>          CHEAT ASSIGNMENTS
30-04-2023  13:32            35,477 conditional statement - if , elif, else.ipynb
29-04-2023  15:37            13,459 DICT.ipynb
28-05-2023  18:00            44,178 EDA .ipynb
27-05-2023  19:56         3,543,320 EDA DATA VISUALIZATION .ipynb
28-05-2023  15:38         1,574,541 EDA- Part 1.ipynb
17-06-2023  22:15            17,208 Exception handling .ipynb
13-05-2023  03:58            88,515 fitbit.jason
13-05-2023  13:51            88,515 fitbit.json
30-04-2023  16:45            41,960 for loop practice.ipynb
01-05-2023  07:42            27,582 FOR LOOP.ipynb
13-05-2023  00:48            37,569 FSDS11thaug.pdf
27-05-2023  18:38         1,794,021 Graph .ipynb
18-06-2023  16:21                 0 HYDHJJD.txt
18-06-2023  21:55            18,781 ITERATOR, GENERATOR, MAP, REDUCE, FILTER, BASIC FILE OPERATION.ipynb
01-05-2023  08:04            83,390 List , tuples , dict , set .ipynb
01-05-2023  22:00             9,864 list task.ipynb
10-06-2023  12:22            30,683 LIST.ipynb
18-06-2023  20:11                 0 list.txt
13-05-2023  02:44               457 Mongodb with python.py
07-05-2023  22:28             8,514 mongodb.txt
13-05-2023  02:44             9,157 NO SQL MONGODB.py
21-05-2023  11:51           465,908 Numpy and basic of graph.ipynb
21-05-2023  14:10            47,787 NUMPY.ipynb
12-05-2023  21:05           423,949 pandas class 2.ipynb
21-05-2023  01:11           141,385 pandas class 3 - with task .ipynb
20-05-2023  14:11           913,519 PANDAS LIBRARY .ipynb
13-05-2023  20:38           121,522 PANDAS TASK CARS DATASET.ipynb
14-05-2023  04:59         3,099,061 PANDAS TASK CENSUS DATASET.ipynb
14-05-2023  00:38            59,409 PANDAS TASK COVID DATA SET.ipynb
22-05-2023  00:34            88,792 PANDAS TASK FITBIT DATASET .ipynb
14-05-2023  03:07            54,545 PANDAS TASK LONDON HOUSING DATA.ipynb
16-05-2023  10:54           212,847 PANDAS TASK NETFLIX DATASET.ipynb
13-05-2023  23:07            63,910 PANDAS TASK POLICE DATA SET.ipynb
20-05-2023  14:35           203,125 PANDAS TASK SUPERSTORE DATASET.ipynb
18-05-2023  11:04           312,682 PANDAS TASK SURVEY DATA SET.ipynb
14-05-2023  11:07           123,607 PANDAS TASK UDEMY DATASET.ipynb
13-05-2023  18:15           193,413 PANDAS TASK WEATHER DATA SET.ipynb
13-05-2023  00:33           913,494 Pandas.ipynb
19-05-2023  09:34           238,869 PANDAS_PIVOT TASK .ipynb
06-05-2023  18:29               444 p-s connectivity 1.py
06-05-2023  14:43               642 p-s connectivity 2.py
06-05-2023  14:43               296 p-s connectivity 3.py
06-05-2023  14:43                 2 p-s.py
21-05-2023  19:26            10,767 PYTHON BASIC ASSIGNMENT 1.ipynb
21-05-2023  20:32            14,259 PYTHON BASIC ASSIGNMENT 2.ipynb
27-05-2023  18:30            15,244 PYTHON BASIC ASSIGNMENT 3.ipynb
27-05-2023  18:30            17,628 PYTHON BASIC ASSIGNMENT 4.ipynb
27-05-2023  18:30            14,619 PYTHON BASIC ASSIGNMENT 5.ipynb
27-05-2023  18:30            19,103 PYTHON BASIC ASSIGNMENT 6.ipynb
18-06-2023  20:03    <DIR>          PYTHON BASIC ASSIGNMENTS
10-06-2023  15:54    <DIR>          PYTHON BASIC PROGRAMMING ASSIGNMENT
17-06-2023  15:49    <DIR>          PYTHON CLASS
13-05-2023  02:46               395 Python-sql connnection.py
03-06-2023  20:55           310,900 REVIEW SCRAPPER PENDING.ipynb
01-05-2023  22:03           113,561 Revision and task solving (1).ipynb
29-04-2023  16:08            12,521 SET.ipynb
07-05-2023  01:24             7,137 sql mongodb and git .txt
13-05-2023  02:42             5,625 SQL.sql
27-05-2023  16:49            13,396 STAR PATTERNS USING LOOP.ipynb
30-04-2023  00:52            19,406 STATEMENTS.ipynb
01-05-2023  08:05            86,596 string .ipynb
01-05-2023  09:43            13,840 String task.ipynb
29-04-2023  16:32            48,877 STRING.ipynb
18-06-2023  20:34               102 sunday.txt
20-05-2023  12:55         4,007,322 superstore.json
18-06-2023  21:57                31 swap.txt
13-05-2023  02:45               444 table cration in python and visualization in sql .py
01-05-2023  22:04            23,946 Task 3.ipynb
11-05-2023  00:41            94,421 test.json
18-06-2023  21:57                16 test.txt
29-04-2023  14:56            10,723 TUPLE.ipynb
21-05-2023  20:54    <DIR>          Untiled folder
14-06-2023  11:53                72 Untitled.ipynb
01-05-2023  07:53         3,648,199 WHILE LOOP.ipynb
01-05-2023  07:49         3,644,399 WHILE.ipynb
              75 File(s)     27,324,166 bytes
               9 Dir(s)  190,041,423,872 bytes free

In [79]:
l=[1,45,88,112,45,96]

In [80]:
f3=open("list.txt", "w")

In [81]:
f3.write(str(l))

24

In [82]:
ls

 Volume in drive C is OS
 Volume Serial Number is FE0E-8CB5

 Directory of C:\Users\Swapnil\Ineuron Practice

18-06-2023  21:55    <DIR>          .
18-06-2023  15:11    <DIR>          ..
14-05-2023  00:51    <DIR>          .idea
18-06-2023  09:58    <DIR>          .ipynb_checkpoints
28-05-2023  20:15             5,215 API.ipynb
03-06-2023  19:43             6,389 APPLICATION PROGRAMMING INTERFACE TASK PENDING.ipynb
23-04-2023  13:05             7,460 Assignment 1.ipynb
23-04-2023  14:45             5,154 Assignment 2.ipynb
21-05-2023  19:49    <DIR>          CHEAT ASSIGNMENTS
30-04-2023  13:32            35,477 conditional statement - if , elif, else.ipynb
29-04-2023  15:37            13,459 DICT.ipynb
28-05-2023  18:00            44,178 EDA .ipynb
27-05-2023  19:56         3,543,320 EDA DATA VISUALIZATION .ipynb
28-05-2023  15:38         1,574,541 EDA- Part 1.ipynb
17-06-2023  22:15            17,208 Exception handling .ipynb
13-05-2023  03:58            88,515 fitbit.jason
13-05-2023  13:51            88,515 fitbit.json
30-04-2023  16:45            41,960 for loop practice.ipynb
01-05-2023  07:42            27,582 FOR LOOP.ipynb
13-05-2023  00:48            37,569 FSDS11thaug.pdf
27-05-2023  18:38         1,794,021 Graph .ipynb
18-06-2023  16:21                 0 HYDHJJD.txt
18-06-2023  21:55            18,781 ITERATOR, GENERATOR, MAP, REDUCE, FILTER, BASIC FILE OPERATION.ipynb
01-05-2023  08:04            83,390 List , tuples , dict , set .ipynb
01-05-2023  22:00             9,864 list task.ipynb
10-06-2023  12:22            30,683 LIST.ipynb
18-06-2023  21:57                 0 list.txt
13-05-2023  02:44               457 Mongodb with python.py
07-05-2023  22:28             8,514 mongodb.txt
13-05-2023  02:44             9,157 NO SQL MONGODB.py
21-05-2023  11:51           465,908 Numpy and basic of graph.ipynb
21-05-2023  14:10            47,787 NUMPY.ipynb
12-05-2023  21:05           423,949 pandas class 2.ipynb
21-05-2023  01:11           141,385 pandas class 3 - with task .ipynb
20-05-2023  14:11           913,519 PANDAS LIBRARY .ipynb
13-05-2023  20:38           121,522 PANDAS TASK CARS DATASET.ipynb
14-05-2023  04:59         3,099,061 PANDAS TASK CENSUS DATASET.ipynb
14-05-2023  00:38            59,409 PANDAS TASK COVID DATA SET.ipynb
22-05-2023  00:34            88,792 PANDAS TASK FITBIT DATASET .ipynb
14-05-2023  03:07            54,545 PANDAS TASK LONDON HOUSING DATA.ipynb
16-05-2023  10:54           212,847 PANDAS TASK NETFLIX DATASET.ipynb
13-05-2023  23:07            63,910 PANDAS TASK POLICE DATA SET.ipynb
20-05-2023  14:35           203,125 PANDAS TASK SUPERSTORE DATASET.ipynb
18-05-2023  11:04           312,682 PANDAS TASK SURVEY DATA SET.ipynb
14-05-2023  11:07           123,607 PANDAS TASK UDEMY DATASET.ipynb
13-05-2023  18:15           193,413 PANDAS TASK WEATHER DATA SET.ipynb
13-05-2023  00:33           913,494 Pandas.ipynb
19-05-2023  09:34           238,869 PANDAS_PIVOT TASK .ipynb
06-05-2023  18:29               444 p-s connectivity 1.py
06-05-2023  14:43               642 p-s connectivity 2.py
06-05-2023  14:43               296 p-s connectivity 3.py
06-05-2023  14:43                 2 p-s.py
21-05-2023  19:26            10,767 PYTHON BASIC ASSIGNMENT 1.ipynb
21-05-2023  20:32            14,259 PYTHON BASIC ASSIGNMENT 2.ipynb
27-05-2023  18:30            15,244 PYTHON BASIC ASSIGNMENT 3.ipynb
27-05-2023  18:30            17,628 PYTHON BASIC ASSIGNMENT 4.ipynb
27-05-2023  18:30            14,619 PYTHON BASIC ASSIGNMENT 5.ipynb
27-05-2023  18:30            19,103 PYTHON BASIC ASSIGNMENT 6.ipynb
18-06-2023  20:03    <DIR>          PYTHON BASIC ASSIGNMENTS
10-06-2023  15:54    <DIR>          PYTHON BASIC PROGRAMMING ASSIGNMENT
17-06-2023  15:49    <DIR>          PYTHON CLASS
13-05-2023  02:46               395 Python-sql connnection.py
03-06-2023  20:55           310,900 REVIEW SCRAPPER PENDING.ipynb
01-05-2023  22:03           113,561 Revision and task solving (1).ipynb
29-04-2023  16:08            12,521 SET.ipynb
07-05-2023  01:24             7,137 sql mongodb and git .txt
13-05-2023  02:42             5,625 SQL.sql
27-05-2023  16:49            13,396 STAR PATTERNS USING LOOP.ipynb
30-04-2023  00:52            19,406 STATEMENTS.ipynb
01-05-2023  08:05            86,596 string .ipynb
01-05-2023  09:43            13,840 String task.ipynb
29-04-2023  16:32            48,877 STRING.ipynb
18-06-2023  20:34               102 sunday.txt
20-05-2023  12:55         4,007,322 superstore.json
18-06-2023  21:57                31 swap.txt
13-05-2023  02:45               444 table cration in python and visualization in sql .py
01-05-2023  22:04            23,946 Task 3.ipynb
11-05-2023  00:41            94,421 test.json
18-06-2023  21:57                16 test.txt
29-04-2023  14:56            10,723 TUPLE.ipynb
21-05-2023  20:54    <DIR>          Untiled folder
14-06-2023  11:53                72 Untitled.ipynb
01-05-2023  07:53         3,648,199 WHILE LOOP.ipynb
01-05-2023  07:49         3,644,399 WHILE.ipynb
              75 File(s)     27,324,166 bytes
               9 Dir(s)  190,041,247,744 bytes free

In [83]:
f3.close()

In [84]:
ls

 Volume in drive C is OS
 Volume Serial Number is FE0E-8CB5

 Directory of C:\Users\Swapnil\Ineuron Practice

18-06-2023  21:55    <DIR>          .
18-06-2023  15:11    <DIR>          ..
14-05-2023  00:51    <DIR>          .idea
18-06-2023  09:58    <DIR>          .ipynb_checkpoints
28-05-2023  20:15             5,215 API.ipynb
03-06-2023  19:43             6,389 APPLICATION PROGRAMMING INTERFACE TASK PENDING.ipynb
23-04-2023  13:05             7,460 Assignment 1.ipynb
23-04-2023  14:45             5,154 Assignment 2.ipynb
21-05-2023  19:49    <DIR>          CHEAT ASSIGNMENTS
30-04-2023  13:32            35,477 conditional statement - if , elif, else.ipynb
29-04-2023  15:37            13,459 DICT.ipynb
28-05-2023  18:00            44,178 EDA .ipynb
27-05-2023  19:56         3,543,320 EDA DATA VISUALIZATION .ipynb
28-05-2023  15:38         1,574,541 EDA- Part 1.ipynb
17-06-2023  22:15            17,208 Exception handling .ipynb
13-05-2023  03:58            88,515 fitbit.jason
13-05-2023  13:51            88,515 fitbit.json
30-04-2023  16:45            41,960 for loop practice.ipynb
01-05-2023  07:42            27,582 FOR LOOP.ipynb
13-05-2023  00:48            37,569 FSDS11thaug.pdf
27-05-2023  18:38         1,794,021 Graph .ipynb
18-06-2023  16:21                 0 HYDHJJD.txt
18-06-2023  21:55            18,781 ITERATOR, GENERATOR, MAP, REDUCE, FILTER, BASIC FILE OPERATION.ipynb
01-05-2023  08:04            83,390 List , tuples , dict , set .ipynb
01-05-2023  22:00             9,864 list task.ipynb
10-06-2023  12:22            30,683 LIST.ipynb
18-06-2023  21:57                24 list.txt
13-05-2023  02:44               457 Mongodb with python.py
07-05-2023  22:28             8,514 mongodb.txt
13-05-2023  02:44             9,157 NO SQL MONGODB.py
21-05-2023  11:51           465,908 Numpy and basic of graph.ipynb
21-05-2023  14:10            47,787 NUMPY.ipynb
12-05-2023  21:05           423,949 pandas class 2.ipynb
21-05-2023  01:11           141,385 pandas class 3 - with task .ipynb
20-05-2023  14:11           913,519 PANDAS LIBRARY .ipynb
13-05-2023  20:38           121,522 PANDAS TASK CARS DATASET.ipynb
14-05-2023  04:59         3,099,061 PANDAS TASK CENSUS DATASET.ipynb
14-05-2023  00:38            59,409 PANDAS TASK COVID DATA SET.ipynb
22-05-2023  00:34            88,792 PANDAS TASK FITBIT DATASET .ipynb
14-05-2023  03:07            54,545 PANDAS TASK LONDON HOUSING DATA.ipynb
16-05-2023  10:54           212,847 PANDAS TASK NETFLIX DATASET.ipynb
13-05-2023  23:07            63,910 PANDAS TASK POLICE DATA SET.ipynb
20-05-2023  14:35           203,125 PANDAS TASK SUPERSTORE DATASET.ipynb
18-05-2023  11:04           312,682 PANDAS TASK SURVEY DATA SET.ipynb
14-05-2023  11:07           123,607 PANDAS TASK UDEMY DATASET.ipynb
13-05-2023  18:15           193,413 PANDAS TASK WEATHER DATA SET.ipynb
13-05-2023  00:33           913,494 Pandas.ipynb
19-05-2023  09:34           238,869 PANDAS_PIVOT TASK .ipynb
06-05-2023  18:29               444 p-s connectivity 1.py
06-05-2023  14:43               642 p-s connectivity 2.py
06-05-2023  14:43               296 p-s connectivity 3.py
06-05-2023  14:43                 2 p-s.py
21-05-2023  19:26            10,767 PYTHON BASIC ASSIGNMENT 1.ipynb
21-05-2023  20:32            14,259 PYTHON BASIC ASSIGNMENT 2.ipynb
27-05-2023  18:30            15,244 PYTHON BASIC ASSIGNMENT 3.ipynb
27-05-2023  18:30            17,628 PYTHON BASIC ASSIGNMENT 4.ipynb
27-05-2023  18:30            14,619 PYTHON BASIC ASSIGNMENT 5.ipynb
27-05-2023  18:30            19,103 PYTHON BASIC ASSIGNMENT 6.ipynb
18-06-2023  20:03    <DIR>          PYTHON BASIC ASSIGNMENTS
10-06-2023  15:54    <DIR>          PYTHON BASIC PROGRAMMING ASSIGNMENT
17-06-2023  15:49    <DIR>          PYTHON CLASS
13-05-2023  02:46               395 Python-sql connnection.py
03-06-2023  20:55           310,900 REVIEW SCRAPPER PENDING.ipynb
01-05-2023  22:03           113,561 Revision and task solving (1).ipynb
29-04-2023  16:08            12,521 SET.ipynb
07-05-2023  01:24             7,137 sql mongodb and git .txt
13-05-2023  02:42             5,625 SQL.sql
27-05-2023  16:49            13,396 STAR PATTERNS USING LOOP.ipynb
30-04-2023  00:52            19,406 STATEMENTS.ipynb
01-05-2023  08:05            86,596 string .ipynb
01-05-2023  09:43            13,840 String task.ipynb
29-04-2023  16:32            48,877 STRING.ipynb
18-06-2023  20:34               102 sunday.txt
20-05-2023  12:55         4,007,322 superstore.json
18-06-2023  21:57                31 swap.txt
13-05-2023  02:45               444 table cration in python and visualization in sql .py
01-05-2023  22:04            23,946 Task 3.ipynb
11-05-2023  00:41            94,421 test.json
18-06-2023  21:57                16 test.txt
29-04-2023  14:56            10,723 TUPLE.ipynb
21-05-2023  20:54    <DIR>          Untiled folder
14-06-2023  11:53                72 Untitled.ipynb
01-05-2023  07:53         3,648,199 WHILE LOOP.ipynb
01-05-2023  07:49         3,644,399 WHILE.ipynb
              75 File(s)     27,324,190 bytes
               9 Dir(s)  190,041,239,552 bytes free

In [85]:
%%writefile test.txt
this is my file for i/o file 
this is my file for i/o file
this is my file for i/o file

Overwriting test.txt

In [86]:
f1=open("test.txt")

In [87]:
f1.read()

'this is my file for i/o file \nthis is my file for i/o file\nthis is my file for i/o file\n'

In [88]:
f1.read()

''

In [89]:
f1.seek(0)

0

In [90]:
f1.read()

'this is my file for i/o file \nthis is my file for i/o file\nthis is my file for i/o file\n'

In [91]:
f1.read()

''

In [92]:
f1.seek(0)

0

In [93]:
f1.read()

'this is my file for i/o file \nthis is my file for i/o file\nthis is my file for i/o file\n'

In [94]:
f1.seek(4)

4

In [95]:
f1.read()

' is my file for i/o file \nthis is my file for i/o file\nthis is my file for i/o file\n'

In [96]:
f1=open("test.txt")

In [97]:
f1.tell()

0

In [98]:
f1.read()

'this is my file for i/o file \nthis is my file for i/o file\nthis is my file for i/o file\n'

In [99]:
f1.tell()

91

In [100]:
f1.seek(5)

5

In [101]:
f1.tell()

5

In [102]:
f1.read(15)

'is my file for '

In [105]:
f1=open("test.txt")

In [104]:
f1.read()

'this is my file for i/o file \nthis is my file for i/o file\nthis is my file for i/o file\n'

In [106]:
f1.readlines()

['this is my file for i/o file \n',
 'this is my file for i/o file\n',
 'this is my file for i/o file\n']

In [107]:
f3.fileno()

ValueError: I/O operation on closed file

In [108]:
s=open("test.txt", "w")

In [109]:
s.write("today is sunday ,tomorrow will be monday")

40

In [110]:
s.close()

In [111]:
ls

 Volume in drive C is OS
 Volume Serial Number is FE0E-8CB5

 Directory of C:\Users\Swapnil\Ineuron Practice

18-06-2023  21:55    <DIR>          .
18-06-2023  15:11    <DIR>          ..
14-05-2023  00:51    <DIR>          .idea
18-06-2023  09:58    <DIR>          .ipynb_checkpoints
28-05-2023  20:15             5,215 API.ipynb
03-06-2023  19:43             6,389 APPLICATION PROGRAMMING INTERFACE TASK PENDING.ipynb
23-04-2023  13:05             7,460 Assignment 1.ipynb
23-04-2023  14:45             5,154 Assignment 2.ipynb
21-05-2023  19:49    <DIR>          CHEAT ASSIGNMENTS
30-04-2023  13:32            35,477 conditional statement - if , elif, else.ipynb
29-04-2023  15:37            13,459 DICT.ipynb
28-05-2023  18:00            44,178 EDA .ipynb
27-05-2023  19:56         3,543,320 EDA DATA VISUALIZATION .ipynb
28-05-2023  15:38         1,574,541 EDA- Part 1.ipynb
17-06-2023  22:15            17,208 Exception handling .ipynb
13-05-2023  03:58            88,515 fitbit.jason
13-05-2023  13:51            88,515 fitbit.json
30-04-2023  16:45            41,960 for loop practice.ipynb
01-05-2023  07:42            27,582 FOR LOOP.ipynb
13-05-2023  00:48            37,569 FSDS11thaug.pdf
27-05-2023  18:38         1,794,021 Graph .ipynb
18-06-2023  16:21                 0 HYDHJJD.txt
18-06-2023  21:55            18,781 ITERATOR, GENERATOR, MAP, REDUCE, FILTER, BASIC FILE OPERATION.ipynb
01-05-2023  08:04            83,390 List , tuples , dict , set .ipynb
01-05-2023  22:00             9,864 list task.ipynb
10-06-2023  12:22            30,683 LIST.ipynb
18-06-2023  21:57                24 list.txt
13-05-2023  02:44               457 Mongodb with python.py
07-05-2023  22:28             8,514 mongodb.txt
13-05-2023  02:44             9,157 NO SQL MONGODB.py
21-05-2023  11:51           465,908 Numpy and basic of graph.ipynb
21-05-2023  14:10            47,787 NUMPY.ipynb
12-05-2023  21:05           423,949 pandas class 2.ipynb
21-05-2023  01:11           141,385 pandas class 3 - with task .ipynb
20-05-2023  14:11           913,519 PANDAS LIBRARY .ipynb
13-05-2023  20:38           121,522 PANDAS TASK CARS DATASET.ipynb
14-05-2023  04:59         3,099,061 PANDAS TASK CENSUS DATASET.ipynb
14-05-2023  00:38            59,409 PANDAS TASK COVID DATA SET.ipynb
22-05-2023  00:34            88,792 PANDAS TASK FITBIT DATASET .ipynb
14-05-2023  03:07            54,545 PANDAS TASK LONDON HOUSING DATA.ipynb
16-05-2023  10:54           212,847 PANDAS TASK NETFLIX DATASET.ipynb
13-05-2023  23:07            63,910 PANDAS TASK POLICE DATA SET.ipynb
20-05-2023  14:35           203,125 PANDAS TASK SUPERSTORE DATASET.ipynb
18-05-2023  11:04           312,682 PANDAS TASK SURVEY DATA SET.ipynb
14-05-2023  11:07           123,607 PANDAS TASK UDEMY DATASET.ipynb
13-05-2023  18:15           193,413 PANDAS TASK WEATHER DATA SET.ipynb
13-05-2023  00:33           913,494 Pandas.ipynb
19-05-2023  09:34           238,869 PANDAS_PIVOT TASK .ipynb
06-05-2023  18:29               444 p-s connectivity 1.py
06-05-2023  14:43               642 p-s connectivity 2.py
06-05-2023  14:43               296 p-s connectivity 3.py
06-05-2023  14:43                 2 p-s.py
21-05-2023  19:26            10,767 PYTHON BASIC ASSIGNMENT 1.ipynb
21-05-2023  20:32            14,259 PYTHON BASIC ASSIGNMENT 2.ipynb
27-05-2023  18:30            15,244 PYTHON BASIC ASSIGNMENT 3.ipynb
27-05-2023  18:30            17,628 PYTHON BASIC ASSIGNMENT 4.ipynb
27-05-2023  18:30            14,619 PYTHON BASIC ASSIGNMENT 5.ipynb
27-05-2023  18:30            19,103 PYTHON BASIC ASSIGNMENT 6.ipynb
18-06-2023  20:03    <DIR>          PYTHON BASIC ASSIGNMENTS
10-06-2023  15:54    <DIR>          PYTHON BASIC PROGRAMMING ASSIGNMENT
17-06-2023  15:49    <DIR>          PYTHON CLASS
13-05-2023  02:46               395 Python-sql connnection.py
03-06-2023  20:55           310,900 REVIEW SCRAPPER PENDING.ipynb
01-05-2023  22:03           113,561 Revision and task solving (1).ipynb
29-04-2023  16:08            12,521 SET.ipynb
07-05-2023  01:24             7,137 sql mongodb and git .txt
13-05-2023  02:42             5,625 SQL.sql
27-05-2023  16:49            13,396 STAR PATTERNS USING LOOP.ipynb
30-04-2023  00:52            19,406 STATEMENTS.ipynb
01-05-2023  08:05            86,596 string .ipynb
01-05-2023  09:43            13,840 String task.ipynb
29-04-2023  16:32            48,877 STRING.ipynb
18-06-2023  20:34               102 sunday.txt
20-05-2023  12:55         4,007,322 superstore.json
18-06-2023  21:57                31 swap.txt
13-05-2023  02:45               444 table cration in python and visualization in sql .py
01-05-2023  22:04            23,946 Task 3.ipynb
11-05-2023  00:41            94,421 test.json
18-06-2023  21:57                40 test.txt
29-04-2023  14:56            10,723 TUPLE.ipynb
21-05-2023  20:54    <DIR>          Untiled folder
14-06-2023  11:53                72 Untitled.ipynb
01-05-2023  07:53         3,648,199 WHILE LOOP.ipynb
01-05-2023  07:49         3,644,399 WHILE.ipynb
              75 File(s)     27,324,214 bytes
               9 Dir(s)  190,039,732,224 bytes free

In [112]:
k=open("sunday.txt", "w")

In [113]:
k.write("swapnil devgir gosavi, aarti swapnil gosavi swapnil devgir gosavi, aarti swapnil gosavi")

87

In [114]:
k.close()

In [115]:
k.write("sbghshsjjjsjjksjksjksjk")

ValueError: I/O operation on closed file.

In [116]:
k.close()

In [117]:
k=open("sunday.txt", "w")

In [118]:
k=open("sunday.txt", "a")

In [119]:
k.write("swapnil devgir gosavi, aarti swapnil gosavi swapnil devgir gosavi, aarti swapnil gosavi")

87

In [120]:
k.close()

In [121]:
k=open("sunday.txt", "w")

In [122]:
k.write("swapnil devgir gosavi, aarti swapnil gosavi swapnil devgir gosavi, aarti swapnil gosavi")

87

In [123]:
k=open("sunday.txt", "a")

In [124]:
k.write("jskhbjkslkklskl")

15

In [125]:
k.close()

In [126]:
#map , reduce,filter

In [127]:
l=[2,3,4,5,6]
l1=[]
for i in l:
    l1.append(i**2)

In [135]:
l1

[4, 9, 16, 25, 36]

In [138]:
def sq(n):
    return n*n

In [140]:
list(map(sq, l))

[4, 9, 16, 25, 36]

In [143]:
list(map(lambda x:x*x,l))

[4, 9, 16, 25, 36]

In [146]:
list(map(lambda x: str(x), l))

['2', '3', '4', '5', '6']

In [149]:
def str_c(n):
    return str(n)

list(map(str_c,l))

['2', '3', '4', '5', '6']

In [ ]:
#reduce

In [156]:
from functools import reduce

In [157]:
l=[1,2,3,5]

In [158]:
sum(l)

11

In [159]:
reduce(lambda a,b:a+b, l)

11

In [160]:
#filter

In [161]:
l=[1,2,3,4,5,6,7,8]

In [162]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [165]:
list(filter(lambda x:x%2==0, l))

[2, 4, 6, 8]

In [169]:
def check_even(n):
    if n%2==0:
        return True
list(filter(check_even,l))

[2, 4, 6, 8]