In [ ]:
#SUPERSTORE DATA SET 
#1 . load this data in sql and in pandas with a relation in sql 
#2 . while loading this data you dont have to create a table manually you can use any automated approach to create a table and load a data in bulk in table 
#3 . Find out how return that we ahve recived and with a product id 
#4 . try  to join order and return data both in sql and pandas 
#5 . Try to find out how many unique customer that we have 
#6 . try to find out in how many regions we are selling a product and who is a manager for a respective region 
#7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset 
#8 . Create a new coulmn and try to find our a diffrence between order date and shipment date
#9 . base on question number 8 find out for which order id we have shipment duration more than 10 days 
#10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well 
#11 . Gorup by region and find out which region is more profitable 
#12 . Try to find out overalll in which country we are giving more didscount 
#13 . Give me a list of unique postal code 
#14 . which customer segement is more profitalble find it out . 
#15 . try to find out the 10th most loss making product catagory . 
#16 . Try to find out 10 top  product with highest margins

In [1]:
import pandas as pd

In [2]:
#SOLUTION 1
#to upload excel file in pandas
superstore=pd.read_excel(r"D:\STUDY\PYTHON\BIG DATA PRACTICE\INeuron_pandas data sets\Superstore_USA.xlsx")

In [3]:
superstore

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [4]:
#First to load excel file directly into database .followthe steps.
#step 1 : Right click on table 
#step 2 : Select "Table Data Import Wizard"
#step 3 : Select the file which we have to load (in our case, it is superstore_data.csv) and press next.
#step 4 : Select create new table and give the table name and press next.
#step 5 : Select the required conditions and press next. The data is loaded Successfully

In [5]:
##Pushing Data into Mongo DB
import pymongo
import pandas as pd
import json

In [6]:
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://New:new@cluster0.lidzegc.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [7]:
#convert csv to json to uplaod dataset in mongodb

In [11]:
superstore.to_json("superstore.json")

In [14]:
pwd# checked in presnt work directory

'C:\\Users\\Swapnil\\Ineuron Practice'

In [15]:
data=pd.read_json(r"C:\Users\Swapnil\Ineuron Practice\superstore.json")#crosscheckd data is fine

In [16]:
data

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,1338163200000,1338336000000,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,1278460800000,1278547200000,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,1311724800000,1311811200000,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,1311724800000,1311811200000,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,1311724800000,1311724800000,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,1368489600000,1368576000000,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,1368489600000,1368489600000,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,1378944000000,1379116800000,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,1265587200000,1265846400000,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,1378944000000,1379116800000,78.062400,23,172.48,87533

In [19]:
with open (r"C:\Users\Swapnil\Ineuron Practice\superstore.json") as file: data=[(json.load(file))]

In [21]:
database = client['superstore']#USING CONNECTIVITY WITH CLIENT DATABASE superstore created

In [22]:
collection = database["superstore_pandastask"]#table pandastask created

In [23]:
print(database)

Database(MongoClient(host=['ac-bkwo2y7-shard-00-02.lidzegc.mongodb.net:27017', 'ac-bkwo2y7-shard-00-01.lidzegc.mongodb.net:27017', 'ac-bkwo2y7-shard-00-00.lidzegc.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-6btsqa-shard-0', tls=True), 'superstore')

In [24]:
collection.insert_many(data)

In [ ]:
#now we can see database superstore in mongodb ith superstore dataset

In [27]:
#SOLUTION 2 Find out how return that we have recived and with a product id

In [28]:
superstore.head(1)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.5,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.32,2,5.9,88525

In [32]:
#check excel file ,u will find returned details in sheet 2
pd.read_excel(r"D:\STUDY\PYTHON\BIG DATA PRACTICE\INeuron_pandas data sets\Superstore_USA.xlsx",sheet_name="Returns")
#stored in in returns

      Order ID    Status
0           65  Returned
1          612  Returned
2          614  Returned
3          678  Returned
4          710  Returned
...        ...       ...
1629    182681  Returned
1630    182683  Returned
1631    182750  Returned
1632    182781  Returned
1633    182906  Returned

[1634 rows x 2 columns]

In [33]:
returns=pd.read_excel(r"D:\STUDY\PYTHON\BIG DATA PRACTICE\INeuron_pandas data sets\Superstore_USA.xlsx",sheet_name="Returns")

In [34]:
returns

      Order ID    Status
0           65  Returned
1          612  Returned
2          614  Returned
3          678  Returned
4          710  Returned
...        ...       ...
1629    182681  Returned
1630    182683  Returned
1631    182750  Returned
1632    182781  Returned
1633    182906  Returned

[1634 rows x 2 columns]

In [35]:
superstore

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [ ]:
#Merge to differnt datasets

In [36]:
superstore_returns=pd.merge(superstore, returns)# we have merged superstore and returns

In [37]:
superstore_returns

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status
0,1359,Low,0.05,5.85,2.27,21,Tony Wilkins Winters,Regular Air,Small Business,Office Supplies,...,New York,New York City,10012,2011-04-20,2011-04-24,-6.8200,9,54.79,9895,Returned
1,1950,Medium,0.01,4.91,0.50,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,112.0600,47,228.46,13959,Returned
2,1951,Medium,0.09,4.00,1.30,117,Linda Weiss,Express Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,16.7900,19,77.61,13959,Returned
3,5055,High,0.02,3.28,5.00,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2013-08-16,2013-08-18,-89.0600,52,190.52,36038,Returned
4,5573,Low,0.02,11.97,5.81,272,Eleanor Swain,Regular Air,Small Business,Office Supplies,...,North Carolina,Charlotte,28204,2013-08-12,2013-08-12,-81.9413,76,912.06,39490,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,986,Not Specified,0.06,37.94,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-01-04,2013-01-06,-33.9680,3,113.14,7107,Returned
94,987,Not Specified,0.10,55.29,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-01-04,2013-01-05,163.1200,35,1886.52,7107,Returned
95,6041,Medium,0.05,4.28,6.18,3075,Gordon Brandt,Express Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-06-25,2013-06-27,-22.5600,12,73.71,42823,Returned
96,1910,High,0.05,14.48,1.99,3079,Andrew Levine,Regular Air,Consumer,Technology,...,Pennsylvania,Philadelphia,19112,2012-09-30,2012-10-02,165.2000,96,1337.67,13638,Returned
97,6625,High,0.06,128.24,12.65,3251,Peter Brooks,Regular Air,Small Business,Furniture,...,New York,New York City,10112,2012-09-11,2012-09-13,1844.9600,92,12002.16,47109,Returned

In [39]:
#to check whether the both datasets are merged
superstore_returns.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID', 'Status'],
      dtype='object')

In [46]:
superstore_returns[superstore_returns.Status=="Returned"]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status
0,1359,Low,0.05,5.85,2.27,21,Tony Wilkins Winters,Regular Air,Small Business,Office Supplies,...,New York,New York City,10012,2011-04-20,2011-04-24,-6.8200,9,54.79,9895,Returned
1,1950,Medium,0.01,4.91,0.50,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,112.0600,47,228.46,13959,Returned
2,1951,Medium,0.09,4.00,1.30,117,Linda Weiss,Express Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,16.7900,19,77.61,13959,Returned
3,5055,High,0.02,3.28,5.00,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2013-08-16,2013-08-18,-89.0600,52,190.52,36038,Returned
4,5573,Low,0.02,11.97,5.81,272,Eleanor Swain,Regular Air,Small Business,Office Supplies,...,North Carolina,Charlotte,28204,2013-08-12,2013-08-12,-81.9413,76,912.06,39490,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,986,Not Specified,0.06,37.94,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-01-04,2013-01-06,-33.9680,3,113.14,7107,Returned
94,987,Not Specified,0.10,55.29,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-01-04,2013-01-05,163.1200,35,1886.52,7107,Returned
95,6041,Medium,0.05,4.28,6.18,3075,Gordon Brandt,Express Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-06-25,2013-06-27,-22.5600,12,73.71,42823,Returned
96,1910,High,0.05,14.48,1.99,3079,Andrew Levine,Regular Air,Consumer,Technology,...,Pennsylvania,Philadelphia,19112,2012-09-30,2012-10-02,165.2000,96,1337.67,13638,Returned
97,6625,High,0.06,128.24,12.65,3251,Peter Brooks,Regular Air,Small Business,Furniture,...,New York,New York City,10112,2012-09-11,2012-09-13,1844.9600,92,12002.16,47109,Returned

In [53]:
len(superstore_returns[superstore_returns.Status=="Returned"]["Order ID"])#There are total 98 orders which were returned
#In the question, Product ID is mentioned which is not available, So I have given the order ID instead.

98

In [ ]:
SOLUTION 3#try  to join order and return data both in sql and pandas

In [58]:
#In pandas
pd.merge(superstore,returns)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status
0,1359,Low,0.05,5.85,2.27,21,Tony Wilkins Winters,Regular Air,Small Business,Office Supplies,...,New York,New York City,10012,2011-04-20,2011-04-24,-6.8200,9,54.79,9895,Returned
1,1950,Medium,0.01,4.91,0.50,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,112.0600,47,228.46,13959,Returned
2,1951,Medium,0.09,4.00,1.30,117,Linda Weiss,Express Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,16.7900,19,77.61,13959,Returned
3,5055,High,0.02,3.28,5.00,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2013-08-16,2013-08-18,-89.0600,52,190.52,36038,Returned
4,5573,Low,0.02,11.97,5.81,272,Eleanor Swain,Regular Air,Small Business,Office Supplies,...,North Carolina,Charlotte,28204,2013-08-12,2013-08-12,-81.9413,76,912.06,39490,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,986,Not Specified,0.06,37.94,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-01-04,2013-01-06,-33.9680,3,113.14,7107,Returned
94,987,Not Specified,0.10,55.29,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-01-04,2013-01-05,163.1200,35,1886.52,7107,Returned
95,6041,Medium,0.05,4.28,6.18,3075,Gordon Brandt,Express Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-06-25,2013-06-27,-22.5600,12,73.71,42823,Returned
96,1910,High,0.05,14.48,1.99,3079,Andrew Levine,Regular Air,Consumer,Technology,...,Pennsylvania,Philadelphia,19112,2012-09-30,2012-10-02,165.2000,96,1337.67,13638,Returned
97,6625,High,0.06,128.24,12.65,3251,Peter Brooks,Regular Air,Small Business,Furniture,...,New York,New York City,10112,2012-09-11,2012-09-13,1844.9600,92,12002.16,47109,Returned

In [59]:
##Join in sql
#select * from returns_done INNER JOIN orders ON orders.OrderID=returns_done.orderID;

In [60]:
#SOLUTION 5:Try to find out how many unique customer that we have

In [63]:
superstore.head(1)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.5,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.32,2,5.9,88525

In [65]:
superstore["Customer Name"].unique()

array(['Janice Fletcher', 'Bonnie Potter', 'Ronnie Proctor', ...,
       'Florence Gold', 'Frederick Cole', 'Tammy Buckley'], dtype=object)

In [66]:
superstore["Customer Name"].value_counts()

Louis Parrish            27
Jenny Gold               26
Leigh Burnette Hurley    22
Sean N Boyer             22
Andrew Gonzalez          21
                         ..
Kent Hoover               1
Ruby Booth                1
Bill Hudson               1
Angela Wooten             1
Janice Fletcher           1
Name: Customer Name, Length: 2703, dtype: int64

In [67]:
len(superstore["Customer Name"].value_counts())

2703

In [69]:
#SOLUTION 6)try to find out in how many regions we are selling a product and who is a manager for a respective region

In [74]:
superstore.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [79]:
#check excel file ,u will find returned details in sheet 3
pd.read_excel(r"D:\STUDY\PYTHON\BIG DATA PRACTICE\INeuron_pandas data sets\Superstore_USA.xlsx",sheet_name="Users")
managers=pd.read_excel(r"D:\STUDY\PYTHON\BIG DATA PRACTICE\INeuron_pandas data sets\Superstore_USA.xlsx",sheet_name="Users")

In [81]:
managers

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [82]:
#SOLUTION 7 find out how many different differnet shipement mode that we have and what is a percentage usablity of
#all the shipment mode with respect to dataset

In [84]:
superstore.head(1)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.5,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.32,2,5.9,88525

In [88]:
superstore["Ship Mode"].unique()

array(['Regular Air', 'Express Air', 'Delivery Truck'], dtype=object)

In [89]:
superstore["Ship Mode"].value_counts()

Regular Air       7036
Delivery Truck    1283
Express Air       1107
Name: Ship Mode, dtype: int64

In [97]:
total=superstore["Ship Mode"].count()

In [98]:
total

9426

In [100]:
superstore["Ship Mode"].value_counts()/total*100 ##percentage usablity of all the shipment mode with respect to dataset

Regular Air       74.644600
Delivery Truck    13.611288
Express Air       11.744112
Name: Ship Mode, dtype: float64

In [101]:
#SOLUTION 8 . Create a new coulmn and try to find our a diffrence between order date and shipment date

In [103]:
superstore["difference_date"] =  superstore['Ship Date'] - superstore['Order Date']

In [104]:
superstore["difference_date"]

0      2 days
1      1 days
2      1 days
3      1 days
4      0 days
        ...
9421   1 days
9422   0 days
9423   2 days
9424   3 days
9425   2 days
Name: difference_date, Length: 9426, dtype: timedelta64[ns]

In [105]:
#SOLUTION 9:based on question number 8 find out for which order id we have shipment duration more than 10 days

In [110]:
superstore[(superstore['difference_date'].dt.components['days']>10)]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,difference_date
643,18246,Critical,0.05,11.09,5.25,250,Brenda Nelson Blanchard,Regular Air,Corporate,Office Supplies,...,Minnesota,Richfield,55423,2011-12-29,2012-03-22,58.5000,19,204.67,87215,84 days
1548,23091,Medium,0.04,100.98,7.18,595,Dana Desai,Regular Air,Small Business,Technology,...,Indiana,Bloomington,47401,2011-12-30,2012-01-10,375.7050,6,587.46,86318,11 days
1549,23092,Medium,0.09,6.48,7.49,595,Dana Desai,Express Air,Small Business,Office Supplies,...,Indiana,Bloomington,47401,2011-12-30,2012-01-14,-47.3950,12,79.37,86318,15 days
1678,20703,Not Specified,0.07,130.98,30.00,637,Christopher Bryant,Delivery Truck,Consumer,Furniture,...,California,Santa Clara,95051,2011-12-30,2012-01-16,-211.8850,21,2699.94,87957,17 days
1679,20704,Not Specified,0.09,55.98,4.86,637,Christopher Bryant,Regular Air,Consumer,Office Supplies,...,California,Santa Clara,95051,2011-12-30,2012-01-10,355.0119,10,514.51,87957,11 days
1680,20705,Not Specified,0.08,115.99,4.23,637,Christopher Bryant,Regular Air,Consumer,Technology,...,California,Santa Clara,95051,2011-12-30,2012-01-27,1021.4001,16,1480.29,87957,28 days
1697,2703,Not Specified,0.07,130.98,30.00,640,Neal Wolfe,Delivery Truck,Consumer,Furniture,...,Washington,Seattle,98119,2011-12-30,2012-01-16,-423.7700,83,10671.20,19556,17 days
1698,2704,Not Specified,0.09,55.98,4.86,640,Neal Wolfe,Regular Air,Consumer,Office Supplies,...,Washington,Seattle,98119,2011-12-30,2012-01-10,469.6900,41,2109.51,19556,11 days
1699,2705,Not Specified,0.08,115.99,4.23,640,Neal Wolfe,Regular Air,Consumer,Technology,...,Washington,Seattle,98119,2011-12-30,2012-01-27,727.3620,65,6013.69,19556,28 days
2515,18060,Low,0.02,2.21,1.00,964,Virginia Rivera,Regular Air,Home Office,Office Supplies,...,California,Redwood City,94061,2011-12-30,2012-03-31,5.8200,10,22.35,86177,92 days
5548,21603,Not Specified,0.02,5.58,1.99,2048,Ricky Dougherty,Regular Air,Consumer,Office Supplies,...,South Dakota,Brookings,57006,2011-12-30,2012-01-13,66.2250,21,121.51,88223,14 days
5673,19005,Low,0.06,65.99,2.50,2088,Carrie Boyle,Regular Air,Corporate,Technology,...,New York,Mount Vernon,10550,2011-12-28,2012-01-14,187.4880,8,451.34,88352,17 days
5859,24392,Low,0.05,29.89,1.99,2143,Lester Sawyer,Regular Air,Home Office,Technology,...,Virginia,Fairfax,20151,2011-12-26,2012-01-17,4230.2001,12,344.16,87572,22 days
5881,21257,Low,0.05,7.99,5.03,2153,Anna Glenn,Regular Air,Home Office,Technology,...,California,Pasadena,91104,2011-12-26,2012-01-19,-23.4520,2,15.56,91294,24 days
8607,26351,Medium,0.00,8.32,2.38,3119,Jay Hubbard,Express Air,Corporate,Technology,...,Florida,Orlando,32839,2011-12-29,2012-01-16,-1075.3960,19,170.62,86434,18 days
8609,26350,Medium,0.07,180.98,55.24,3119,Jay Hubbard,Delivery Truck,Corporate,Office Supplies,...,Florida,Orlando,32839,2013-12-29,2014-01-15,-147.5180,25,4529.95,86436,17 days
8610,26352,Medium,0.06,4.20,2.26,3119,Jay Hubbard,Regular Air,Corporate,Office Supplies,...,Florida,Orlando,32839,2013-12-29,2014-01-17,-689.8738,2,9.64,86436,19 days
8973,20750,Low,0.06,125.99,8.08,3248,Earl Donnelly,Express Air,Corporate,Technology,...,Louisiana,Slidell,70458,2011-12-26,2012-01-14,2.4780,20,2180.31,87300,19 days
8982,2748,Low,0.03,11.97,5.81,3251,Peter Brooks,Regular Air,Corporate,Office Supplies,...,New York,New York City,10112,2011-12-26,2012-01-22,-31.7400,31,388.52,19841,27 days
8983,2749,Low,0.08,195.99,4.20,3251,Peter Brooks,Regular Air,Corporate,Technology,...,New York,New York City,10112,2011-12-26,2012-01-26,-557.9530,13,2092.05,19841,31 days
8993,2750,Low,0.06,125.99,8.08,3251,Peter Brooks,Express Air,Corporate,Technology,...,New York,New York City,10112,2013-12-26,2014-01-14,1304.5590,86,9375.35,19841,19 days
8996,20748,Low,0.03,11.97,5.81,3252,Milton Harrell,Regular Air,Corporate,Office Supplies,...,New York,Rotterdam,12306,2011-12-26,2012-01-22,-15.8700,8,100.26,87300,27 days
8997,20749,Low,0.08,195.99,4.20,3252,Milton Harrell,Regular Air,Corporate,Technology,...,New York,Rotterdam,12306,2011-12-26,2012-01-26,-278.9765,3,482.78,87300,31 days

In [111]:
#SOLUTION 10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and 
#find out that region manager as well

In [112]:
superstore.head(1)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,difference_date
0,18606,Not Specified,0.01,2.88,0.5,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.32,2,5.9,88525,2 days

In [113]:
all_data = pd.concat([superstore,returns])

In [116]:
all_data[(all_data['difference_date'].dt.components['days']>15)]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,difference_date,Status
643,18246.0,Critical,0.05,11.09,5.25,250.0,Brenda Nelson Blanchard,Regular Air,Corporate,Office Supplies,...,Richfield,55423.0,2011-12-29,2012-03-22,58.5000,19.0,204.67,87215,84 days,NaN
1678,20703.0,Not Specified,0.07,130.98,30.00,637.0,Christopher Bryant,Delivery Truck,Consumer,Furniture,...,Santa Clara,95051.0,2011-12-30,2012-01-16,-211.8850,21.0,2699.94,87957,17 days,NaN
1680,20705.0,Not Specified,0.08,115.99,4.23,637.0,Christopher Bryant,Regular Air,Consumer,Technology,...,Santa Clara,95051.0,2011-12-30,2012-01-27,1021.4001,16.0,1480.29,87957,28 days,NaN
1697,2703.0,Not Specified,0.07,130.98,30.00,640.0,Neal Wolfe,Delivery Truck,Consumer,Furniture,...,Seattle,98119.0,2011-12-30,2012-01-16,-423.7700,83.0,10671.20,19556,17 days,NaN
1699,2705.0,Not Specified,0.08,115.99,4.23,640.0,Neal Wolfe,Regular Air,Consumer,Technology,...,Seattle,98119.0,2011-12-30,2012-01-27,727.3620,65.0,6013.69,19556,28 days,NaN
2515,18060.0,Low,0.02,2.21,1.00,964.0,Virginia Rivera,Regular Air,Home Office,Office Supplies,...,Redwood City,94061.0,2011-12-30,2012-03-31,5.8200,10.0,22.35,86177,92 days,NaN
5673,19005.0,Low,0.06,65.99,2.50,2088.0,Carrie Boyle,Regular Air,Corporate,Technology,...,Mount Vernon,10550.0,2011-12-28,2012-01-14,187.4880,8.0,451.34,88352,17 days,NaN
5859,24392.0,Low,0.05,29.89,1.99,2143.0,Lester Sawyer,Regular Air,Home Office,Technology,...,Fairfax,20151.0,2011-12-26,2012-01-17,4230.2001,12.0,344.16,87572,22 days,NaN
5881,21257.0,Low,0.05,7.99,5.03,2153.0,Anna Glenn,Regular Air,Home Office,Technology,...,Pasadena,91104.0,2011-12-26,2012-01-19,-23.4520,2.0,15.56,91294,24 days,NaN
8607,26351.0,Medium,0.00,8.32,2.38,3119.0,Jay Hubbard,Express Air,Corporate,Technology,...,Orlando,32839.0,2011-12-29,2012-01-16,-1075.3960,19.0,170.62,86434,18 days,NaN
8609,26350.0,Medium,0.07,180.98,55.24,3119.0,Jay Hubbard,Delivery Truck,Corporate,Office Supplies,...,Orlando,32839.0,2013-12-29,2014-01-15,-147.5180,25.0,4529.95,86436,17 days,NaN
8610,26352.0,Medium,0.06,4.20,2.26,3119.0,Jay Hubbard,Regular Air,Corporate,Office Supplies,...,Orlando,32839.0,2013-12-29,2014-01-17,-689.8738,2.0,9.64,86436,19 days,NaN
8973,20750.0,Low,0.06,125.99,8.08,3248.0,Earl Donnelly,Express Air,Corporate,Technology,...,Slidell,70458.0,2011-12-26,2012-01-14,2.4780,20.0,2180.31,87300,19 days,NaN
8982,2748.0,Low,0.03,11.97,5.81,3251.0,Peter Brooks,Regular Air,Corporate,Office Supplies,...,New York City,10112.0,2011-12-26,2012-01-22,-31.7400,31.0,388.52,19841,27 days,NaN
8983,2749.0,Low,0.08,195.99,4.20,3251.0,Peter Brooks,Regular Air,Corporate,Technology,...,New York City,10112.0,2011-12-26,2012-01-26,-557.9530,13.0,2092.05,19841,31 days,NaN
8993,2750.0,Low,0.06,125.99,8.08,3251.0,Peter Brooks,Express Air,Corporate,Technology,...,New York City,10112.0,2013-12-26,2014-01-14,1304.5590,86.0,9375.35,19841,19 days,NaN
8996,20748.0,Low,0.03,11.97,5.81,3252.0,Milton Harrell,Regular Air,Corporate,Office Supplies,...,Rotterdam,12306.0,2011-12-26,2012-01-22,-15.8700,8.0,100.26,87300,27 days,NaN
8997,20749.0,Low,0.08,195.99,4.20,3252.0,Milton Harrell,Regular Air,Corporate,Technology,...,Rotterdam,12306.0,2011-12-26,2012-01-26,-278.9765,3.0,482.78,87300,31 days,NaN

In [125]:
#SOLUTION #11. Group by region and find out which region is most profitable 
superstore.groupby(['Region'])['Profit'].count()

Region
Central    2899
East       2289
South      1954
West       2284
Name: Profit, dtype: int64

In [132]:
superstore.groupby(['Region'])['Profit'].count().max()

2899

In [129]:
#SOLUTION #12. Try to find out overall in which country we are giving more discount 
[superstore[superstore['Discount']>0.1]['Region']] #In central region, we are giving the most discounts.

[5990    Central
 5991    Central
 6000    Central
 8649    Central
 8661    Central
 Name: Region, dtype: object]

In [136]:
#SOLUTION #13. Give me a list of unique postal code 
superstore['Postal Code'].unique()

array([60101, 98221, 91776, ..., 61832, 62521, 26554], dtype=int64)

In [140]:
#SOLUTION #14 . which customer segement is more profitable find it out . 
superstore.groupby(['Customer Segment'])['Profit'].aggregate('count') #The corporate Customer segment is more profitable than others

Customer Segment
Consumer          1894
Corporate         3375
Home Office       2316
Small Business    1841
Name: Profit, dtype: int64

In [141]:
superstore.groupby(['Customer Segment'])['Profit'].count()

Customer Segment
Consumer          1894
Corporate         3375
Home Office       2316
Small Business    1841
Name: Profit, dtype: int64

In [144]:
#SOLUTION #15. try to find out the 10th most loss making product catagory . 
superstore[superstore['Profit']<0].reset_index().sort_values('Profit', ascending = True).head(10)

,index,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,difference_date
2291,4659,18306,Medium,0.08,175.99,4.99,1738,Dean Solomon,Regular Air,Corporate,...,North Carolina,Gastonia,28052,2010-03-28,2010-03-28,-16476.838000,10,1486.34,85865,0 days
2121,4338,20972,Low,0.01,24.95,2.99,1632,Lori Wolfe,Regular Air,Home Office,...,Mississippi,Hattiesburg,39401,2012-05-21,2012-05-21,-14369.123580,3,81.31,90534,0 days
3811,7800,23213,Low,0.09,6783.02,24.49,2855,Vicki Womble,Regular Air,Consumer,...,Washington,Des Moines,98198,2010-03-10,2010-03-14,-14140.701600,1,6296.00,87317,4 days
2381,4844,21284,Critical,0.04,880.98,44.55,1793,Derek Jernigan,Delivery Truck,Home Office,...,Illinois,Galesburg,61401,2010-01-06,2010-01-07,-13706.464000,8,6968.90,87853,1 days
2660,5402,24076,Medium,0.04,6783.02,24.49,2004,James Dickinson Ball,Regular Air,Home Office,...,Montana,Bozeman,59715,2010-10-17,2010-10-19,-13562.637408,1,6569.07,91277,2 days
2664,5409,22942,High,0.05,3502.14,8.73,2006,Cynthia Khan,Delivery Truck,Home Office,...,Colorado,Durango,81301,2011-01-18,2011-01-19,-10402.943916,1,3460.11,88799,1 days
3771,7725,21048,Not Specified,0.06,6783.02,24.49,2825,Carole Rosen,Regular Air,Consumer,...,Idaho,Boise,83701,2011-09-12,2011-09-14,-10263.659700,2,9507.12,89498,2 days
1061,2191,21575,Not Specified,0.05,3499.99,24.49,838,Gary Walton,Regular Air,Consumer,...,California,Hacienda Heights,91745,2013-10-02,2013-10-03,-9078.940000,2,6849.48,89896,1 days
1977,4068,21917,High,0.06,3502.14,8.73,1530,Seth Sweeney,Delivery Truck,Consumer,...,California,Palm Springs,92262,2012-07-07,2012-07-09,-8570.448300,1,3057.44,88853,2 days
2387,4857,24251,High,0.05,3502.14,8.73,1796,Carlos Johnson,Delivery Truck,Corporate,...,California,San Francisco,94110,2013-03-23,2013-03-24,-7961.430900,1,3360.30,90778,1 days

In [148]:
#SOLUTION #16. Try to find out 10 top  product with highest margins 
superstore.sort_values(['Product Base Margin'])['Product Name'].head(10)

2431              GBC DocuBind 200 Manual Binding Machine
8248       Peel & Seel® Recycled Catalog Envelopes, Brown
1515       Peel & Seel® Recycled Catalog Envelopes, Brown
5050       Peel & Seel® Recycled Catalog Envelopes, Brown
413                                           Accessory31
5034                          Prang Dustless Chalk Sticks
8308         Staples Brown Kraft Recycled Clasp Envelopes
8311     Storex DuraTech Recycled Plastic Frosted Binders
8318                                          Accessory31
1553    Adams Telephone Message Book w/Frequently-Call...
Name: Product Name, dtype: object