q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list

que increasing triangle pattern

In [31]:
#increasing triangle pattern
n=5
for var1 in range(n):#outer loop for rows
    for var2 in range(var1+1):#inner loop for columns
        print("ineruon", end=" ")
    print()#do not forget

ineruon
ineruon ineruon
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon
ineruon ineruon ineruon ineruon ineruon

In [32]:
row=int(input("enter the how many rows you want"))
print()
for i in range(row):
    print("ineuron" *(i+1))

enter the how many rows you want5

ineuron
ineuronineuron
ineuronineuronineuron
ineuronineuronineuronineuron
ineuronineuronineuronineuronineuron

In [ ]:
que hill pattern(decreasing spaces , increasings star,increasing star)

In [13]:
#hill pattern(decreasing spaces , increasings star,increasing star)
n=5
for var1 in range(n):
    for var2 in range(var1,n):
        print(" ", end="  ")
    for var2 in range(var1+1):
        print("ineruon "," ", end="")
    for var2 in range(var1):
        print("ineruon "," ", end="")
    print()

               ineruon
            ineruon   ineruon   ineruon
         ineruon   ineruon   ineruon   ineruon   ineruon
      ineruon   ineruon   ineruon   ineruon   ineruon   ineruon   ineruon
   ineruon   ineruon   ineruon   ineruon   ineruon   ineruon   ineruon   ineruon   ineruon

In [33]:
#hill pattern(decreasing spaces , increasings star,increasing star)
n=5
for var1 in range(n):
    for var2 in range(var1,n):
        print(" ", end=" ")
    for var2 in range(var1+1):
        print("*", end=" ")
    for var2 in range(var1):
        print("*", end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [34]:
for i in range(6):
    if i <=3:
        n=i
    else:
        n=6-i
    print(("ineuron "*n).center(30," "))

           ineuron
       ineuron ineuron
   ineuron ineuron ineuron
       ineuron ineuron
           ineuron

que q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities

In [47]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [48]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [49]:
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [50]:
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [51]:
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [52]:
for i in l:
    if type(i)==set:
        print(i)

{45, 4, 5, 23}

que q6 : Try to extract all the numerical data it may b a part of dict key and values

In [73]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [70]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [72]:
l1 = []
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l1.append(j)

In [74]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23]

In [80]:
l1 = []
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l1.append(j)
                
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if type(g)==int:
                        l1.append(g)

In [81]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [85]:
d={'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8}

In [86]:
d.items()

dict_items([('k1', 'sudh'), ('k2', 'ineuron'), ('k3', 'kumar'), (3, 6), (7, 8)])

In [87]:
d.items()

dict_items([('k1', 'sudh'), ('k2', 'ineuron'), ('k3', 'kumar'), (3, 6), (7, 8)])

In [ ]:
que : Try to give summation of all the numeric data

In [89]:
sum(l1)

156

que try to filter out all the odd values out all numeric data which is a part of a list

In [90]:
for i in l1:
    if i%2==0:
        pass
    else:
        print(i)

1
3
3
5
3
5
7
45
5
23
3
7

que Try to extract "ineruon" out of this data

In [91]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [97]:
l1 = []
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if j=="ineuron":
                l1.append(j)
                
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if g=="ineuron":
                        l1.append(g)

In [98]:
l1

['ineuron', 'ineuron']

que Try to find out a number of occurances of all the data

In [100]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [103]:
l1 = []
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int or type(j)==str:
                l1.append(j)
                
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if type(g)==int or type(g)==str:
                        l1.append(g)

In [104]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [105]:
set(l1)

{1,
 2,
 23,
 3,
 4,
 45,
 5,
 6,
 7,
 8,
 'data science ',
 'ineuron',
 'k1',
 'k2',
 'k3',
 'kumar',
 'sudh'}

In [110]:
for i in set(l1):
    print(i,":",l1.count(i))

k2 : 1
1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
kumar : 1
8 : 1
45 : 1
data science  : 1
k1 : 1
sudh : 1
23 : 1
k3 : 1
ineuron : 2

queue Try to find out number of keys in dict element

In [111]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [114]:
for i in l:
    if type(i)==dict:
        print(len(i))

5

In [117]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

que: Try to filter out all the string data

In [119]:
for i in l1:
    if type(i)==str:
        print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

que Try to Find  out alphanum in data

In [122]:
for i in l1:
    if type(i)==str:
        if i.isalnum():
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

que Try to find out multiplication of all numeric value in  the individual collection inside dataset

In [127]:
l2=[]
for i in l1:
    if type(i)==int:
        l2.append(i)

In [128]:
l2

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]